<div class="welcome">
  <img src="/landing-pic.jpg" alt='inspiration' />
  <h1>hi
    <% if current_user != nil %>
      <%= current_user.first_name %>!
    <% end %>
  </h1>
  <form action="/users/victories/new" method="POST">
    <input type="text" name="title" placeholder="enter your victory here.  hit enter to submit.">
  </form>
  <div class="welcome_victory"><%= @victory.title %>
    <br>-
    <% if current_user == nil %>
      <span>
        <%= @victory.user.first_name.first %> from <%= @victory.user.city %>,
      </span>
    <% end %>
    <span><%= @victory.created_at.strftime("%B %d") %></span>
  </div>
</div>

<div class="random_victories">
  <% @victory_random_three.each_with_index do |victory, index| %>
    <div>
        <span>0<%= index + 1 %></span>
        <h3><%= victory.created_at.strftime("%B %d") %></h3>
        <p><%= victory.title %></p>
    </div>
  <% end %>
  <% if current_user != nil %>
    <a href="/users/<%= current_user.id %>/victories">See all you victories</a>
  <% else %>
    <a href="/users/login">See all you victories</a>
  <% end %>

</div>

<div class="other_user_victories_newest">
  <div class="random_left">
    <%= @victory_random_four[0].title %>
    <span>
      - <%= @victory_random_four[0].user.first_name.first %> from <%= @victory_random_four[0].user.city %>,
      <%= @victory.created_at.strftime("%B %d") %>
    </span>
  </div>
  <div class="random_right">
    <%= @victory_random_four[2].title %>
    <span>
      - <%= @victory_random_four[2].user.first_name.first %> from <%= @victory_random_four[2].user.city %>, <%= @victory.created_at.strftime("%B %d") %>
    </span>
  </div>
  <div class="random_left">
    <%= @victory_random_four[1].title %>
    <span>
      - <%= @victory_random_four[1].user.first_name.first %> from <%= @victory_random_four[1].user.city %>,
      <%= @victory.created_at.strftime("%B %d") %>
    </span>
  </div>
  <div class="random_right">
    <%= @victory_random_four[3].title %>
    <span>
      - <%= @victory_random_four[3].user.first_name.first %> from <%= @victory_random_four[3].user.city %>, <%= @victory.created_at.strftime("%B %d") %>
    </span>
  </div>

  <a href="users/1/victories/all">See everyone's victories</a>
</div>